/**{
    margin: 0;
    padding: 0;
  }
  
.container-nav {
  background-color: #FAD3E6; 
  padding: 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand img {
  border-radius: 50%; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 10px;
  justify-content: flex-end; 
}

.nav-links li a {
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  background-color: #BAA8D9; 
}

  .button-menu-toggle {
    display: none;
  }
  
  body {
      background-color: #EDD2E0;
      color: #087E8B;
  }
  h1 {
      color:#29335c; 
      font-family:  Arial, Helvetica, sans-serif;
      font-size: 30px;
      text-align: center;
     }
  p{
      color: #29335c;
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 15px;
      padding: 6px;
      margin: 30px 20px 30px 20px;
  }
  .container{
      max-width: 800px;
      margin: auto;
      padding: 20px;
  }
 
main iframe {
  display: block;
  margin: 0 auto;
}

  
footer {
  background-color: darkgray;
  color: white;
  text-align: center;
  padding: 20px;
}


footer button {
  background-color: white;
  color: black;
  border-radius: 10px;
  padding: 10px 20px;
}


    @media (max-width: 768px) {
      .column {
        flex: 100%;
      }
      .nav-links {
        display: none;
      }
      .button-menu-toggle {
        display: block;
        background-color: rgb(247, 249, 248);
        border:none;
        border-radius: 50px;
        padding: 0 24px;
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight:bold;
        font-size: 20px;
      }
      .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(20,20,20,0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap:70px;
        font-size: 40px;
      }
    }
    .greeting {
      text-align: center;
    }
    img {
      width: 100px;
      height: 100px;
    }
    */
    * {
      margin: 0;
      padding: 0;
    }
    
    body {
      background-color: #EDD2E0;
      color: #087E8B;
    }
    /*
    .container-nav {
      background-color: #FAD3E6;
      padding: 10px;
    }
    
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    
    .brand img {
      border-radius: 50%;
    }
    
    .nav-links {
      list-style: none;
      display: flex;
      gap: 10px;
      justify-content: flex-end;
    }
    
    .nav-links li a {
      color: white;
      text-decoration: none;
      padding: 5px;
      border-radius: 5px;
      background-color: #BAA8D9;
    }
    */
    
    header {
      
     
    background-color: #FAD3E6; /* Color de fondo rosa pastel */
      
     
    padding: 10px;
    }
    
    .navbar {
      
     
    display: flex;
      
     
    justify-content: space-between;
      
      align
    
     
    align-items: center;
    }
    
    .brand img {
      
     
    border-radius: 50%; /* Aplica un borde circular a la imagen del logo */
      
     
    align-self: flex-start; /* Alineación a la izquierda */
    }
    
    .nav-links {
      
     
    list-style: none;
      
     
    display: flex;
      
     
    gap: 10px;
      justify-content: flex-end; /* Alinea los elementos a la derecha */
    }
    
    .nav-links li a {
      
     
    color: white;
      
     
    text-decoration: none;
      
     
    padding: 5px;
      border-radius: 5px;
      background-color: #BAA8D9; /* Color de fondo lila pastel */
    }
    
    .button-menu-toggle {
      display: none;
    }

    .container {
      max-width: 800px;
      margin: auto;
      padding: 20px;
    }
    
    main iframe {
      display: block;
      margin: 0 auto;
    }
    
    footer {
      background-color: darkgray;
      color: white;
      text-align: center;
      padding: 20px;
    }
    
    footer button {
      background-color: white;
      color: black;
      border-radius: 10px;
      padding: 10px 20px;
    }
    
    @media (max-width: 768px) {
      .column {
        flex: 100%;
      }
      /*.nav-links {
        display: none;
      }
      .button-menu-toggle {
        display: block;
        background-color: rgb(247, 249, 248);
        border: none;
        border-radius: 50px;
        padding: 0 24px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-weight: bold;
        font-size: 20px;
      }
      .nav-links.nav-links-responsive {
        position: absolute;
        display: flex;
        background-color: rgba(20, 20, 20, 0.95);
        width: 100%;
        height: 100%;
        top: 70px;
        left: 0;
        flex-direction: column;
        padding-top: 200px;
        align-items: center;
        gap: 70px;
        font-size: 40px;
      }
    }
    
    .greeting {
      text-align: center;
    }
    
    img {
      width: 100px;
      height: 100px;
    }*/
    .nav-links {
      display: none;
    }
  
    .button-menu-toggle {
      display: block;
      background-color: rgb(247, 249, 248);
      
     
  border: none;
      
     
  border-radius: 50px;
      padding: 0 24px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      
     
  font-weight: bold;
      
     
  font-size: 20px;
    }
  
    
    }
  
   
  
    }
  
  .nav-links.nav-links-responsive {
      
     
  position: absolute;
      display: flex;
      
     
  background-color: rgba(20, 20, 20, 0.95);
      
     
  width: 100%;
      height: 100%;
      
     
  top: 70px;
      left: 0;
      flex-direction: column;
      padding-top: 200px;
      
     
  align-items: center;
      
     
  gap: 70px;
      
     
  font-size: 40px;
    }
  }
    